.waiting {
  background-color: lightyellow;
}

.faded {
  background-color: lightgrey;
}

.sel-corp {
  background-color: blue;
  color: white;
}

.doomed-corp {
  background-color: lightpink;
}

.saved-corp {
  background-color: lightgreen;
}

.deciding-corp {
  background-color: white;
}