.selection {
  background-color: blue;
  color: white;
}

.wide5 {
  padding-left: 9px;
  padding-right: 9px;
}

.stock-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
}

.stock-table th {
  border: none;
  vertical-align: middle;
  text-align: center;
  background-color: lightblue;
}

.stock-table td {
  border: none;
  vertical-align: middle;
  text-align: center;
}

.breaker {
  background-color: black;
}