.card-title {
  font-size: 40pt;
  background-color: lightgray;
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-subtitle {
  display: flex;
  align-items: center;
  font-size: 25pt;
  padding: 5px;
  background-color: lightgray;
}