.chat-top {
  background-color: lightyellow;
  font-size: calc(5vmin);
}

.title {
    font-size: calc(5vmin);
    background-color: lightgrey;
    align-items: center;
}

.subtitle {
    font-size: calc(3vmin);
    background-color: lightgrey;
}

.wide {
  width: 80%;
  font-size: calc(2.8vmin);
}

.vc {
  display: flex;
  align-items: center;
  font-size: calc(2vmin);
  padding-left: 3px;
}

.vert {
  font-size: calc(2vmin);
  padding-left: 3px;
}