.chat-top {
  background-color: lightyellow;
  font-size: calc(5vmin);
}

.title {
    font-size: calc(5vmin);
    background-color: lightgrey;
    align-items: center;
}

.subtitle {
    font-size: calc(3vmin);
    background-color: lightgrey;
}

.chat-body {
  font-size: calc(1vmin);
}

.wide {
  width: 80%;
}

.vc {
  display: flex;
  align-items: center;
  font-size: calc(2vmin);
  padding-left: 3px;
}