div { margin:0 }

.Pass-leagueSel {
  background-color: lightgray;
  justify-items: left;
  padding: 0; margin: 0; list-style: none;
  font-size: calc(5px + 2vmin);
  color: black;
}

.Pass-leagues {
  background-color: lightgray;
  justify-items: left;
  padding: 0; margin: 0; list-style: none;
  font-size: calc(5px + 2vmin);
  color: black;
}

.Pass-top {
}

.which {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
}

.leagueFunction {
  display: flex;
  flex-direction: row;
  gap: 5gp;
}

.leagueSel {
  font-size: calc(5px + 1.5vmin);
  background-color: lightgray;
}

.naked-button {
  padding: none;
    margin: 0;
    outline: none;
    border:none;
    background: none;
    box-shadow: none;
}

.click-icon {
  padding: none;
  margin: 0;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  height: 4vmin;
  width: 4vmin;
}

.vcs {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.vcd {
  display: flex;
  align-items: center; /* Align vertical */
  background-color: lightblue;
}

/* TODO make background of header go all the way across */



