div { margin:0 }

.Pass-leagueSel {
  background-color: lightgray;
  justify-items: left;
  padding: 0; margin: 0; list-style: none;
  font-size: calc(3vmin);
  color: black;
}

.Pass-leagues {
  background-color: lightgray;
  justify-items: left;
  padding: 0; margin: 0; list-style: none;
  font-size: calc(5vmin);
  color: black;
}

.Pass-top {
}

.tab + .tab, .stab + .tab, .tab + .stab {
  margin-left: 5px
}

.tab {
  background-color: white;
  border-bottom: none;
  padding-top: 5px;
  font-size: 2vmin;
}

.stab {
  background-color: lightblue;
  border-bottom: none;
  padding-top: 5px;
  font-size: 2vmin;
}

.which {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vmin;
  margin: 4px 2px;
  border-radius: 30px;
}

.thich {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vmin;
  margin: 4px 2px;
  border-radius: 30px;
}

.leagueFunction {
  display: flex;
  flex-direction: row;
  gap: 5gp;
}

.selTitle {
  font-size: calc(3vmin);
  background-color: lightgray;
  margin-bottom: 5px;
}

.naked-button {
  padding: none;
    margin: 0;
    outline: none;
    border:none;
    background: none;
    box-shadow: none;
}

.click-icon {
  padding: none;
  margin: 0;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  height: 4vmin;
  width: 4vmin;
}

.vcs {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.vcd {
  display: flex;
  align-items: center; /* Align vertical */
  background-color: lightblue;
}

.stable {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
}

td {
  border: none;
  padding: 4px 6px;
  text-align: left;
  font-size: 1.5vmin;
}

th {
  border: none;
  padding: 4px 6px;
  vertical-align: bottom;
  text-align: left;
  background-color: lightblue;
  font-size: 1.5vmin;
}

.even-row {
  background-color: lightgray;
}

.odd-row {
  background-color: white;
}

.selected-row {
  background-color: blue;
}

.selected-cell-text {
  color: white;
}

.flex-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-pack {
  display: flex;
  flex-direction: row;
}

.yellow-box {
  background-color: lightyellow;
  padding: 10px;
}

.pink-box {
  background-color: #FFD1DC;
  padding: 10px;
}

/* TODO make background of header go all the way across */



