.title {
  font-size: calc(5vmin);
  background-color: lightgray;
  padding: 5px;
}

.subtitle {
  font-size: calc(2.5vmin);
  background-color: lightgray;
  margin-bottom: 5px;
}

.big-text {
  padding: 0;
  font-size: calc(7vmin);
  vertical-align: middle;
}

.horiz {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.rung-odd {
  text-align: center;
  font-size: calc(3vmin);
  border: 1px black solid;
  transform: skew(-20deg);
  background-color: lightyellow;
}

.rung-even {
  text-align: center;
  font-size: calc(3vmin);
  border: 1px black solid;
  transform: skew(-20deg);
  background-color: lightblue;
}

.rung-icon {
  height: calc(3.5vmin);
  width: calc(3.5vmin);
  padding: none;
  margin: none;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  transform: skew(20deg);
}

.rung-choice {
  height: calc(3vmin);
  width: calc(3vmin);
  padding: none;
  margin: none;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  transform: skew(20deg);
}