.title {
  font-size: calc(5vmin);
  background-color: lightgray;
  padding: 5px;
}

.subtitle {
  font-size: calc(3vmin);
  background-color: lightgray;
  padding: 5px;
}

.chooser {
  display: flex;
  background-color: lightblue;
  align-items: center;
}

.gather {
  display: flex;
  align-item: center;
  font-size: calc(3vmin);
  background-color: lightblue;
}

.med-text {
  font-size: calc(2.8vmin);
}

.new-player {
  font-size: calc(2vmin);
  background-color: lightblue;
}

.undo-rewound {
  display: flex;
  align-item: center;
  font-size: calc(1.5vmin);
  background-color: lightblue;
}

.undo-current {
  display: flex;
  align-item: center;
  font-size: calc(1.5vmin);
  background-color: lightgray;
}