.title {
  font-size: 40pt;
  background-color: lightgray;
  padding: 5px;
}

.subtitle {
  display: flex;
  font-size: 25pt;
  background-color: lightgray;
  align-items: center;
  padding: 5px;
}

.subtitle-phone {
  display: flex;
    font-size: 25pt;
    background-color: lightgray;
    align-items: center;
    padding: 5px;
}

.centered {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.scenter {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.spaced {
  gap: 10px;
}

.asker-title {
  display: flex;
  font-size: 20pt;
  background-color: lightgray;
  align-items: center;
  padding: 5px;
}

.asker-value {
  font-size: 17pt;
  background-color:white;
}

.chooser {
  display: flex;
  background-color: lightblue;
  align-items: center;
}

.gather {
  display: flex;
  align-item: center;
  font-size: 30pt;
  background-color: lightblue;
}

.flex-line {
  display: flex;
  align-item: center;
}

.med-text {
  font-size: 25px;
}

.small-text {
  font-size: 20px;
}

.new-player {
  font-size: 35pt;
  background-color: lightblue;
}

.asker {
  font-size: 25pt;
  background-color: lightblue;
}

.ask-box {
  font-size: 20pt;
  width: 5ch;
}

.big-ask-box {
  font-size: 40pt;
  width: 4.8ch;
}

.space-table td {
  padding-right: 10px;
  height: 10vmin;
}

.undo-bar {
  display: flex;
  align-items: center;
  font-size: 20pt;
  background-color: lightgray;
  justify-content: space-between;
}

.undo-bar-phone {
  display: flex;
  align-items: center;
  font-size: 20pt;
  background-color: lightgray;
  justify-content: space-between;
}

.undo-bar-phone span {
  padding-right: 20px;
}

.auction-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
}

.auction-phone, .auction-phone-stripe {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
}

.buy-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 3px solid rgb(140 140 140);
}

.buy-table th {
  background-color: lightblue;
  padding-left: 10px;
  padding-right: 10px;
}

.buy-table td {
  text-align: center;
}

.row-break {
  border-left: 1px solid rgb(140 140 140);
}

.auction-table th {
  border: none;
  padding: 4px 6px;
  vertical-align: center;
  text-align: center;
  font-size: 20pt;
  background-color: lightblue;
}

.auction-table td {
  border: none;
  vertical-align: center;
  text-align: center;
  font-size: 20pt;
  height: 25pt;
}

.auction-phone th, .auction-phone-stripe th {
  border: none;
  padding: 4px 6px;
  vertical-align: center;
  text-align: center;
  font-size: 15pt;
  background-color: lightblue;
}

.auction-phone td, .auction-phone-stripe td {
  border: none;
  vertical-align: center;
  text-align: center;
  font-size: 20pt;
  height: 25pt;
}

.auction-phone-stripe tr:nth-child(odd) td {
  background-color: lightgray;
}

.selected-column {
  background-color: blue;
  color: white;
}

.phone-med-text {
  font-size: 20pt;
}

.phone-huge-text {
  font-size: 35pt;
}

.med-cert {
  height: 50pt;
}

.med-cert-text {
  font-size: 20pt;
}

.tiny-cert {
  height: 25pt;
}

.small-cert {
  height: 25pt;
}

.tiny-cert-text {
  font-size: 25pt;
}

.small-cert-text {
  font-size: 16pt;
}

.selected {
  color: white;
  background-color: blue;
}

.priority-arrow {
  height: 15pt;
}

.right {
  float:right;
}

.debug {
  border: 2px solid rgb(140 140 140);
}

.panel-cell{
  border: 3px solid rgb(140 140 140);
  border-radius: 30px;
  text-align: center;
  align-items: center;
}

.huge-text {
  font-size: 50pt;
}

.huge-text-flex {
  font-size: 50pt;
  display:flex;
  justify-content: center;
}

.op-selected {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: blue;
  color: white;
}

.op-todo {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: lightyellow;
}

.op-done {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color:lightgrey;
}