.title {
  font-size: calc(5vmin);
  background-color: lightgray;
  padding: 5px;
}

.subtitle {
  display: flex;
  font-size: calc(3vmin);
  background-color: lightgray;
  align-items: center;
  padding: 5px;
}

.spaced {
  gap: 10px;
}

.centered {
  justifyContent: center;
}

.asker-title {
  display: flex;
  font-size: calc(2vmin);
  background-color: lightgray;
  align-items: center;
  padding: 5px;
}

.chooser {
  display: flex;
  background-color: lightblue;
  align-items: center;
}

.gather {
  display: flex;
  align-item: center;
  font-size: calc(3vmin);
  background-color: lightblue;
}

.med-text {
  font-size: calc(2.8vmin);
}

.new-player {
  font-size: calc(2vmin);
  background-color: lightblue;
}

.asker {
  font-size: calc(2vmin);
  background-color: lightblue;
}

.ask-box {
  font-size: calc(2.8vmin);
  width: 3.7ch;
}

.big-ask-box {
  font-size: calc(3.8vmin);
  width: 4.8ch;
}

.space-table td {
  padding-right: 10px;
  height: 10vmin;
}

.undo-bar {
  display: flex;
  align-items: center;
  font-size: calc(1.5vmin);
  background-color: lightgray;
  justify-content: space-between;
}

.auction-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
}

.auction-table th {
  border: none;
  padding: 4px 6px;
  vertical-align: center;
  text-align: center;
  font-size: 1.5vmin;
  background-color: lightblue;
}

.auction-table td {
  border: none;
  vertical-align: center;
  text-align: center;
  font-size: 1.5vmin;
  height: 4vmin;
}

.med-cert {
  height: 4vmin;
}

.med-cert-text {
  font-size: 2vmin;
}

.selected {
  color: white;
  background-color: blue;
}

.priority-arrow {
  height: 1.5vmin;
}

.right {
  float:right;
}