.naked-button {
  padding: none;
    margin: 0;
    outline: none;
    border:none;
    background: none;
    box-shadow: none;
}

.click-icon {
  padding: none;
  margin: 0;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  height: 4vmin;
  width: 4vmin;
}

.big-click-icon {
  padding: none;
  margin: 0;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  height: 8vmin;
  width: 8vmin;
}

.small-click-icon {
  padding: none;
  margin: 0;
  outline: none;
  border:none;
  background: none;
  box-shadow: none;
  pointer-events: none;
  height: 1.5vmin;
  width: 1.5vmin;
}

.which {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vmin;
  margin: 4px 2px;
  border-radius: 30px;
}

.thich {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vmin;
  margin: 4px 2px;
  border-radius: 30px;
}